
body {
 background-color: #000000;
 background-image: url('32.jpeg');
 /* background-size: 100% 100%; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  color: #ffffff;
}
.border {
	border:2px solid #ccc;
	background-color: #777;
	padding-top: 20px;
}
.header {
	height: 400px;
	background-image: url('32.jpeg');
	 background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  text-align: center;
  padding-top: 90px;

}
.img_this {
	cursor: pointer;
}
.contents {
	text-align: center;
}
#maximg {
position:absolute;
display:none;
cursor: pointer;
z-index: 1;
}
#maximgX{
	top:10px;
	font-size: 35px;
	color:rgba(217, 158, 22, 1);

	}
#panelupr{
position:fixed;
display:none;
background-color:rgba(217, 158, 22, 0.9);
padding:10px;
font-weight:bold;
z-index: 1;
}
.strelki{
font-size:100px !important;
padding-left: 5px;
cursor: pointer;
}
#close_all_panel {
	position: absolute;
	top:-5px;
	right: 0;
	cursor: pointer;
}
#fon_maximg{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left:0;
	top:0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 0;
}

/* для админки */
.admin_main_info {
	margin: 20px;
	border:1px solid brown;
	max-width: 700px;
}
.wrap_textarea_main_info{
    text-align: center;
    color: black;
}
.button_for_main_info {
	width: 100px;
	height: 44px;
	border-radius: 20px;
	background-color:grey;
	border: 1px solid brown;
}